{% extends "pages/base.html" %}
<!------------------------------head------------------------------------>
{% block title %}Product{% endblock title %}


<!------------------------------body----------------------------------->
<!--***********************************content************************************-->
{% block content %}
<h3>All Products</h3>
<ul>
    <li>
    {% for prod in products %}
        {{prod.name}}   |   {{prod.price}}    |    <img src="{{prod.image.url}}" width="500px" height="300px"/><BR/>
    {% endfor %}
    </li>
</ul>
{% endblock content %}